# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
env/
venv/
churn_env/
.conda/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data (optional)
# =========================
data/interim/
data/processed/

# =========================
# Model Artifacts
# =========================
# model/*.pkl
# model/*.joblib
model/best_params.json

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Streamlit cache
# =========================
.streamlit/

# =========================
# Python env config
# =========================
.env